body {
  margin: 0;
  font-size: 16px;
}

a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

// a:hover {
//   color: #FF4081;
// }

.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}
